.movie_1_container
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 160px;
    justify-content: space-evenly;
}
.main
{
    margin: 5vh 0vw;
}
.movies_p
{
    color: white;
    text-align: initial;
    letter-spacing: 1.5px;
    margin-left: 2.6vw;
    margin-top: 70px;
    word-break: break-word;
    font-size: 24px;
    font-weight: 600;
}
.movie_img
{
    overflow: hidden;
}
.movie_poster
{
    height: 60vh;
    border-radius: 7px;
}
.movie_img .movie_poster 
{
    transition: transform .5s ease;

}
.movie_img .movie_poster:hover
{
    transform: scale(1.2);
}

.movie_name
{
    color: antiquewhite;
    font-size: 3vh;
    text-align: initial;
}
.genres
{
    color: darkgray;
    text-align: initial;
}
/* Responsiveness */
@media screen and (max-width:650px) {
    .movies_p
    {
        font-size: 16px;
    }
    .movie_poster
    {
        height: 40vh;
    }
    .movie_name
    {
        font-size: 2.5vh;
    }
    .genres
    {
        font-size: 1.5vh;
    }
    .movie_1_container
    {
        margin-bottom: 12px;
    }
}
@media screen and (max-width:375px) {
    .movies_p
    {
        font-size: 10px;
    }
    .movie_poster
    {
        height: 30vh;
    }
    .movie_name
    {
        font-size: 1.5vh;
    }
    .genres
    {
        font-size: 1vh;
    }
    .movies_p
    {
        margin-top: 30px;
    }
}
