.movie_return_div
{
    background-color: #202020;
    height: 100vh;
}
p{
    color: white;
}
.movie-page
{

}
.movie-page-card
{

}
.movie-page-card-div-img
{

}
.movie-page-card-img
{

}
.movie-page-p
{

}
.movie-page-p1
{

}
.movie-page-p2
{

}
