*
{
    margin: 0;
}
.logo
{
    width: 14vw;
    background: #272829;
}
.navbar
{
    background: #272829;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_ul
{
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 98vw;
    z-index: 10;
    position: absolute;

}
li {
    padding: 1vh 0.5vw;
    margin: 0vh 1vw;
}
#a
{
    text-decoration: none;
    font-size: 3.5vh;
    color: white;
    background-color: transparent;
}
#a:hover
{
    color: crimson;
    transition: all 0.5s;
}
.navbar_button
{
    padding: 1vh 2vw;
    /* margin: 0vh vw; */
    background-color: crimson;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-size: 3vh;
    border: 2px solid crimson;
}
.signin_button
{
    margin: 0;
    padding: 0;
}
.navbar_button:hover
{
    background-color: transparent;
    transition: all 0.5s;
}

.menu_icon
{
    display: none;
}


@media (max-width:650px) {
    .logo
    {
        width: 25vw;
        display: flex;
        position: absolute;
        top: 25px;
        left: 10px;
    }
}

@media screen and  (max-width:750px) {
    .logo
    {
        display: flex;
        position: absolute;
        top: 25px;
        left: 6px;
    }
    .navbar_ul
    {
        display: none;
    }
    .navbar_mobile_css
    {
        position: absolute;
        display: block;
        z-index: 10;
        background-color: #242424;
        list-style: none;
        left: 0;
        top: 63px;
        text-align: center;
        /* animation: slider 1s 1 forward ease-in; */
        animation-name: slider;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        width: 100%;
    }
    @keyframes slider {
        from {
          transform: translateY(-15px)
        }
        to {
          transform: translateY(0px);
        }
      }
    li
    {
        padding: 3vh 0vw;
        width: 80vw;
    }
    .menu_icon
    {
        display: block;
        position: absolute;
        top: 22px;
        right: 12px;
        transition: all 0.5s ease-in-out;
    }
    .navbar_button 
    {
        font-size: 2.5vh;
    }
    #a
    {
        font-size: 2.5vh;
    }
    
}
@media screen and  (max-width:425px) {
    .navbar
    {
        height: 10vh;
    }
}

