.about_return_div
{
    background-color: #202020;
    height: 250vh;
}
.about_banner
{
    background-image: linear-gradient(to right, rgb(12, 21, 26), rgba(0, 0, 0, 0.69)), url(https://excellencetheme.com/templates/avastream/images/parallax/sub-header.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    padding: 100px 0;
}
.about_banner_p
{
    text-align: center;
    font-size: xx-large;
    color: ghostwhite;
    font-weight: 700;
}
#our_stats
{
    font-size: 4vh;
    color: ghostwhite;
    margin: 8vh 10vw;
}
.about_stats_svg_p
{
    color: ghostwhite;
}
.our_statistics
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12vh;
}
.our_stats_svg_flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.our_stats_svg
{
    width: 5vw;
    fill: crimson;
}
.our_stats_svg1
{
    fill: crimson;
    width: 3.5vw;
}
.about_info_div
{
    height: 74vh;
}
.about_info_div_img
{
    background: linear-gradient(to right, rgb(12, 21, 26), rgba(0, 0, 0, 0.69));
    background-image:  url(https://excellencetheme.com/templates/avastream/images/parallax/about.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    padding: 100px 0 80px;
    height: 65vh;
    filter: brightness(0.10);
}
#about_info_div_flex
{
    position: relative;
    top: -61vh;
    display: flex;
    justify-content: space-around;
}
 .about_img{
    width: 85vh;
    filter: none;
}
.about_info_div_content
{
width: 41vw;
}
.about_content_p1
{
font-size: x-large;
color: ghostwhite;
}
.about_content_p2
{
font-size: larger;
margin-top: 40px;
color: ghostwhite;

}

/* responsive */

@media (max-width:800px) {
    .our_stats_svg
    {
        width: 7vw;
    }
    #our_stats
    {
        margin: 6vh 8vw;
    }
    .our_stats_svg1
    {
        width: 4.5vw;
    }
}
@media (max-width:550px) {
    .our_stats_svg
    {
        width: 9vw;
    }
    .our_stats_svg1
    {
        width: 6.5vw;
    }
    #our_stats
    {
        font-size: 3.5vh;
    }
}
@media (max-width:412px) {
    #our_stats
    {
        font-size: 5vw;
    }
   .about_banner
   {
    padding: 60px 0px
   }
}
@media (max-width:1110px) {
    .about_content_p2
    {
        font-size: 3.5vh;
        margin-top: 10px;
    }
}
@media (max-width:960px) {
    .about_info_div
    {
        height: 129vh;
    }
    .about_info_div_img
    {
        height: 125vh;
    }
    #about_info_div_flex
    {
        top: -121vh;
        align-items: center;
        flex-direction: column;
    }
    .about_info_div_content
    {
        width: 100vw;
        text-align: center;
        margin-top: 6vh;
    }
}
@media (max-width:425px) {
    .about_img
    {
        width: 60vh;
    }   
    .about_content_p2
    {
        font-size: 3vh;
    }
}
@media (max-width:380px) {
    .about_img
    {
        width: 55vh;
    }   
    .about_content_p2
    {
        font-size: 3.3vh;
    }
    .about_content_p1
    {
        font-size: larger;   
    }
    .about_content_p2
    {
        font-size: 2.9vh;
    }
    #about_info_div_flex
    {
        top: -114vh;
    }
    .about_banner
    {
        padding: 37px 0px;
    }
    .about_banner_p
    {
        font-size: x-large;
    }
}
@media screen and (max-width:395px) {
    .about_return_div
    {
        height: 270vh;
    }
    .about_info_div
    {
        height: 115vh;
    }
    .about_img
    {
        width: 90vw;
    }
    .about_content_p2
    {
        font-size: 2.5vh;
    }

}