*
{
    margin: 0;
}
.return_div_moviebook
{
    background-color: #202020;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-book-card-img
{
    height: 70vh;
    border-radius: 11px;
}
.movie-book-flex
{
    display: flex;
}
.movie-book-p
{
  color: ghostwhite;   
  font-size: xx-large;
}
.movie-book-p1
{
    color: ghostwhite;   
    font-size: x-large;
}
.movie-book-p2
{
    color: ghostwhite;   
    font-size: larger;
}
.movie-book-div2
{
    margin: 0vh 4vw;
}
.movie-book-button-div
{
    margin: 23vh 0vw;
}
.movie-book-button
{
    outline: none;
    background-color: crimson;
    border: 2px solid crimson;
    padding: 1.5vh 1.5vw;
    color: ghostwhite;
    border-radius: 18px;
    font-size: larger;
    cursor: pointer;
}
.movie-book-button:hover
{
    background-color: cadetblue;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    border: 2px solid cadetblue
}
/* Responsive */
@media (max-width:740px) {
    .return_div_moviebook
    {
        height: 140vh;
    }
    .movie-book-flex
    {
        flex-direction: column;
        align-items: center;
        margin-top: -30vh;
    }
    .movie-book-card-img
    {
        height: 60vh;
    }
    .movie-book-button-div
    {
        margin: 5vh 0vw;
    }
}
@media (max-width:450px) {
    .return_div_moviebook
    {
        height: 100vh;
    }
    .movie-book-flex
    {
        flex-direction: column;
        align-items: center;
        margin-top: -30vh;
    }
    .movie-book-card-img
    {
        height: 35vh;
    }
    .movie-book-button-div
    {
        margin: 5vh 0vw;
    }
    .movie-book-div2
    {
        margin: 2vh 10vw;
        margin-left: -4vw;
    }
    .movie-book-p
    {
        font-size: 2.5vh;
    }
    .movie-book-p1
    {
        font-size: 2vh;
    }
    .movie-book-p2
    {
        font-size: 2vh;
    }
    .movie-book-button
    {
        padding: 1.5vh 1.5vw;
        font-size: 2vh;
    }
}
