.images:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background: linear-gradient(90deg, rgb(39 40 41) 0%, rgb(39 40 41) 35%, rgba(83, 100, 141, 0) 100%);
    z-index: -1;
}

.images:before:before {
    background: linear-gradient(90deg, rgb(39 40 41) 0%, rgb(39 40 41) 35%, rgba(83, 100, 141, 0) 100%);
    width: 100%;
    z-index: -1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body
{
    background-color: #202020;
}
.react-slideshow-container
{
    margin-top: 20px;
}
.banner
{
    margin-top: 135px;
    width: 98vw;
}
.featured
{
    background-image: linear-gradient(to top, #202020, rgb(2 2 2 / 90%)), url(https://excellencetheme.com/templates/avastream/images/parallax/best-series.jpg);
    height: 90vh;
    margin-top: 120px;
}
.featured_info_flex
{
    position: relative;
    top: 37px;
}
.featured_info_p1
{
    font-size: xxx-large;
    color: white;
    font-weight: 700;
}
.featured_info_p2
{
    color: darkgray;
    font-size: x-large;
    font-weight: 500;
}